<!doctype html5>
<html lang="pt_BR" xmlns:th="www.thymeleaf.org">
<head>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

<title>Sistema Bancário - Correntistas Cadastrados</title>
</head>
<body>
	
	<!--/*/ <th:block th:include="fragments/header :: menu"></th:block> /*/-->

	<main role="main" class="container">

		<div class="starter-template">
			<h1>Listagem de Correntistas</h1>
			
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Email</th>
						
					</tr>
				</thead>
				<tbody>
					<tr th:each="usuario : ${usuarios}">
						<td th:text="${usuario.login}"></td>
						
						<td th:text="${#strings.substring(usuario.senha,1,25)} + '...'"></td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</main>
	
	<!--/*/ <th:block th:include="fragments/footerinc :: foot"></th:block> /*/-->
	
</body>
</html>