
<!doctype html>
<html lang="pt_BR" xmlns:th="www.thymeleaf.org">
<head>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->


<title>Sistema Alunos</title>
</head>

	
	
	
<body style="background-color: cadetblue;">
	<!--/*/ <th:block th:include="fragments/header :: menu"></th:block> /*/-->
	
	
	<div th:if="${not #strings.isEmpty(mensagem)}" th:utext="${mensagem} +'<button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;alert&quot; aria-label=&quot;Close&quot;><span aria-hidden=&quot;true&quot;>&times;</span></button>'" class="alert alert-success alert-dismissible fade show" role="alert" style="width: 340px;"></div>
	

   <div class="container">

      <div class="row">
      	 <div class="col-2">
	  </div>
	    
	     <div class="col-8">
		      
		      <div class="card mb-3" style="max-width: 100%;">
				  <div class="row no-gutters">
				    <div class="col-md-4">
				      <img th:src="@{/images/faltas.png}" alt="User" width= 258px/>
				    </div>
				    <div class="col-md-8" style="background-color: gainsboro;">
				    
				      <div class="card-body">
				        <h3 class="card-title">Cadastra Falta do Aluno</h3>
				        
				        <form th:action="@{/falta}" method="POST" th:object="${falta}">
				        	<input type="hidden" th:field="*{id}"/>
				        	
						 	<div class="form-group">
								<label for="exampleFormControlSelect1">Selecione o Aluno</label>
								<select th:field="*{aluno.id}" class="form-control" id="exampleFormControlSelect2">
									
									<option th:each="aluno : ${listaAluno}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
								</select>
							</div>
						  
						  
						  	<div class="form-group">
							    <label for="exampleFormControlSelect1">Numero de Falta</label>
									<select th:field="*{faltas}" class="form-control" id="exampleFormControlSelect1">
									    <option th:value=1 th:text="1"></option>
									    <option th:value=2 th:text="2"></option>
									     <option th:value=3 th:text="3"></option>
									</select> 
							 </div>
						  
						  <button type="submit" class="btn btn-primary">Salvar</button>
						</form>
				        
				        <p class="card-text"><small class="text-muted" style="margin-left: 330px;"><a th:href="@{/home}">Volta Pagina Inico</a></small></p>
				      </div>
				    </div>
				  </div>
				</div>
		  </div>
		  <div class="col-2">    
		  </div>
      </div>
  </div>
  <!--/*/ <th:block th:include="fragments/footerinc :: foot"></th:block> /*/-->
</body>

	
</html>