<!doctype html>
<html lang="pt_BR" xmlns:th="www.thymeleaf.org">
<head>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

<title>Sistema Alunos</title>
</head>

<body style="background-color: cadetblue;">

<!--/*/ <th:block th:include="fragments/header :: menu"></th:block> /*/-->

   <div class="container">

      <div class="row">
      	 <div class="col-2">
	  </div>
	    
	     <div class="col-8">
		      
		      <div class="card mb-3" style="max-width: 100%;">
				  <div class="row no-gutters">
				    <div class="col-md-4">
				      <img th:src="@{/images/aluno.jpg}" alt="User" width= 258px/>
				    </div>
				    <div class="col-md-8" style="background-color: gainsboro;">
				    
				      <div class="card-body">
				        <h3 class="card-title">Cadastrar Aluno</h3>
				        
				        <form th:action="@{/aluno}" method="POST" th:object="${aluno}">
				        	<input type="hidden" th:field="*{id}"/>
						  <div class="form-group">
						    <label for="exampleInputEmail1">nome</label>
						    <input type="text" class="form-control" id="nome" aria-describedby="emailHelp" th:field="*{nome}" required="true">
						    
						  </div>
						  <div class="form-group">
						    <label for="exampleInputPassword1">Data Nascimento</label>
						    <input type="text" class="form-control" id="data" th:field="*{data}" required="true">
						  </div>
						  
						  <div class="form-group">
						    <label for="exampleInputPassword1">situação</label>
						    <input type="text" class="form-control" id="situacao" th:field="*{situacao}" >
						  </div>
						  
						  <button type="submit" class="btn btn-primary">Salvar</button>
						</form>
				        
				        <p class="card-text"><small class="text-muted" style="margin-left: 330px;"><a th:href="@{/home}">Volta Pagina Inicial</a></small></p>
				      </div>
				    </div>
				  </div>
				</div>
		  </div>
		  <div class="col-2">    
		  </div>
      </div>
  </div>
</body>

</html>