<!doctype html5>
<html lang="pt_BR" xmlns:th="www.thymeleaf.org">
<head>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

<script th:inline="javascript">
    function sendDelete(url) {
        var xhttp = new XMLHttpRequest();
        xhttp.open("DELETE", url, true);
        xhttp.onload = function () {
            let responseURL = xhttp.responseURL;
            console.log("Redirecting to:", responseURL);
            window.location.replace(responseURL);
        };
        xhttp.send();
    }
</script>
<title>Sistema Alunos</title>
</head>
<body>
	
	<!--/*/ <th:block th:include="fragments/header :: menu"></th:block> /*/-->

	<main role="main" class="container">

		<div class="starter-template">
			<h1>Listagem de Aluno</h1>
			<hr />
			
			<div th:if="${not #strings.isEmpty(mensagem)}" th:utext="${mensagem} +'<button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;alert&quot; aria-label=&quot;Close&quot;><span aria-hidden=&quot;true&quot;>&times;</span></button>'" class="alert alert-danger alert-dismissible fade show" role="alert"></div>

			<form action="aluno/form" method="GET">
				<button class="btn btn-primary" type="submit">Nova</button>
			</form>
			<br />
			
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th>nome</th>
						<th style="text-align: center;">Data Nascimento</th>
						<th>estatus</th>
						<th>Operações</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="aluno : ${aluno}">
						<td><a th:href="aluno+'/'+${aluno.id}" th:text="${aluno.nome}"></a></td>
						
						
						<td th:text="${#dates.format(aluno.data, 'dd/MM/yyyy')}"
							style="text-align: center;" />
							
						<td><a th:text="${aluno.situacao}"></a></td>
						<td>
							<a class="btn btn-outline-primary btn-sm" th:href="@{/aluno/{id}/delete(id=${aluno.id})}">
								<img th:src="@{/icons/trash.svg}" title="Excluir aluno" alt="Excluir aluno"/>
							</a>
							<a th:href="@{/aluno/{id}/resultado/(id=${aluno.id})}" class="btn btn-outline-primary btn-sm text-white"
								type="submit">
								<span class="color:white"><img th:src="@{/icons/file-earmark-diff.svg}" title="Ver Situação" alt="Ver Situação"/></span>
							</a>
							
							<a class="btn btn-outline-primary btn-sm" th:href="@{/aluno/{id}/nota(id=${aluno.id})}">
								<img th:src="@{/icons/book.svg}" title="Digitar Notas" alt="Digitar Notas"/>
							</a>
							
						</td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</main>
	
	<!--/*/ <th:block th:include="fragments/footerinc :: foot"></th:block> /*/-->
	
</body>
</html>