<!doctype html>
<html lang="pt_BR" xmlns:th="www.thymeleaf.org">
<head>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

<title>Sistema Alunos</title>
</head>	
<body style="background-color: cadetblue;">

<!--/*/ <th:block th:include="fragments/header :: menu"></th:block> /*/-->

   <div class="container">

      <div class="row">
      	 <div class="col-2">
	  </div>
	    
	     <div class="col-8">
		      
		      <div class="card mb-3" style="max-width: 100%;">
				  <div class="row no-gutters">
				    <div class="col-md-4">
				      <img th:src="@{/images/nota22.jpg}" alt="User" width= 258px style="margin-top: 90px"/>
				    </div>
				    <div class="col-md-8" style="background-color: gainsboro;">
				    
				      <div class="card-body">
				        <h3 class="card-title">Nota do Aluno:</h3>
				        
				        
				        
				        <form th:action="@{/aluno}" method="POST" th:object="${aluno}">
				          <input type="hidden" th:field="*{id}"/>
						  <div class="form-group">
						    <h3> <span  th:text="*{nome}"></span></h3>
						    <input type="hidden" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" th:field="*{nome}" > 
						  </div>
						  
						  <div class="form-group">
						    <label for="exampleInputPassword1">Nota:1</label>
						    <input type="text" class="form-control" id="exampleInputPassword1" th:field="*{nota1}" >
						  </div>
						  
						  <div class="form-group">
						    <label for="exampleInputPassword1">Nota:2</label>
						    <input type="text" class="form-control" id="exampleInputPassword2" th:field="*{nota2}" >
						  </div>
						  
						  <div class="form-group">
						    <label for="exampleInputPassword1">Nota:3</label>
						    <input type="text" class="form-control" id="exampleInputPassword3" th:field="*{nota3}" >
						  </div>
						  
						  <div class="form-group">
						    
						    <input type="hidden" class="form-control" id="exampleInputPassword1" th:field="*{data}" >
						  </div>
						  
						  <div class="form-group">
						    
						    <input type="hidden" class="form-control" id="exampleInputPassword1" th:field="*{situacao}" >
						  </div>
						  
						  <button type="submit" class="btn btn-primary">Salvar</button>
						</form>
						
						
				        
				        <p class="card-text"><small class="text-muted" style="margin-left: 330px;"><a th:href="@{/home}">Volta Pagina Inicial</a></small></p>
				      </div>
				    </div>
				  </div>
				</div>
		  </div>
		  <div class="col-2">    
		  </div>
      </div>
  </div>
</body>


</html>